<html>
    <head>
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/minty/bootstrap.min.css" rel="stylesheet" integrity="sha384-9NlqO4dP5KfioUGS568UFwM3lbWf3Uj3Qb7FBHuIuhLoDp3ZgAqPE1/MYLEBPZYM" crossorigin="anonymous">
        <title>Confirmtion</title>
        <style>
          body {
            background-color: #e8fff9;
            text-align: center;
          }
          h5 {
            font-weight: bold;
          }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                    <a class="navbar-brand" href="http://127.0.0.1:3000/">Car Swap</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarColor01">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                          <a class="nav-link" href="/exchange">Exchange</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/search">Your Transactions</a>
                        </li>
                      </ul>
                    </div>
                  </nav>
        <h2>Confirm Transaction:</h2>
        <div>
              <form action='/complete' method = "get">
                  <button class="btn btn-primary">Confirm</button>
                </form> 
        </div>
        <h5>Vehicle</h5>
        <p>Make:  <%= make %></p>
        <p>Model:   <%= model %></p>
        <p>Year:   <%= year %></p>
        <p>Odometer:   <%= odometer %></p>
        <h5>Your Name</h5>
        <p><%= Sname %></p>
        <h5>Recipients Name</h5>
        <p><%= Rname %></p>
        <h5>Message</h5>
        <p><%= message%></p>
    </body>
</html>